<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Agregar Entrada - SDGDI</title>

    <!--FAVICON-->
    <link rel="icon" type="image/png" href="/img/icons8-coser-16.png" />

    <!-- Custom fonts for this template-->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />

    <!--CSS PERSONALIZADO-->
    <link rel="stylesheet" href="css/dashboard.css" />

    <!--CSS PARA ALERTA DE INSUMO AGREGADO-->
    <link rel="stylesheet" href="css/alerta-agre-insumo.css" />

    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <div layout:fragment="content">
          <!-- AQUI VA EL CONTENIDO DE LA PAGINA -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
            class="d-sm-flex align-items-center justify-content-between mb-2">
            <h1 class="h3 mb-0 text-gray-800">Agregar Nueva Entrada</h1>
            
            <a
            href="/GESTION INVENTARIO 5TO/404.html"
            class="btn btn-secondary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Volver</span>
            </a>
            
            </div>
              <p class="mb-2">
                Completa los campos con la información y detalles del insumo para registrarlo en el inventario.  
                Asegúrate de ingresar datos precisos, como nombre, cantidad, para mantener un control eficiente.  
                Puedes editar o actualizar la información más adelante si es necesario. 
              </p>
            </div>

            <!-- Fondo oscuro -->
            <div id="overlay"></div>
            <!-- 🔔 ALERTA DE ÉXITO -->
            <div id="alertaExito" class="card d-none">
              <button class="dismiss" type="button">×</button>
              <div class="header">
                <div class="image">
                  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_iconCarrier">
                      <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </svg>
                </div>
                <div class="content">
                  <span class="title">¡Entrada registrada!</span>
                  <p class="message">La entrada ha sido agregada correctamente.</p>
                </div>
                <div class="actions">
                  <button class="track" type="button">Ok</button>
                </div>
              </div>
            </div>

                <!-- FORMULARIO -->
              <div class="p-4">
                <form id="formEntrada" class="needs-validation" novalidate>
                  <div class="row g-3">
                    <!-- Nombre del insumo -->
                    <div class="col-md-6 position-relative">
                      <label for="nombre" class="form-label required">Nombre del insumo</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" autocomplete="off" required readonly>
                      <input type="hidden" id="insumoIdSeleccionado" name="idInsumo">
                      <div id="sugerencias" class="list-group position-absolute w-100"></div>
                      <div class="invalid-feedback">Por favor ingrese el nombre del insumo.</div>
                    </div>
                    <!-- Cantidad -->
                    <div class="col-md-5 mb-3">
                      <label for="cantidad" class="form-label required">Cantidad</label>
                      <input type="number" class="form-control" id="cantidad" name="cantidad" min="0" step="0.01" required>
                      <div class="invalid-feedback">Por favor ingrese una cantidad válida.</div>
                    </div>

                    <!-- Fecha de adquisición -->
                    <div class="col-md-5">
                      <label for="fecha" class="form-label required">Fecha de adquisición</label>
                      <input type="date" class="form-control" id="fecha" name="fecha" required>
                      <div class="invalid-feedback">Por favor seleccione una fecha.</div>
                    </div>

                    <!-- Proveedor -->
                    <div class="col-md-5 ">
                      <label for="proveedor" class="form-label required">Proveedor</label>
                      <input type="text" class="form-control" id="proveedor" name="proveedor" required>
                      <div class="invalid-feedback">Por favor ingrese el nombre del proveedor.</div>
                    </div>


                    <!-- Descripción -->
                    <div class="col-12">
                      <label for="descripcion" class="form-label">Descripción</label>
                      <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                    </div>

                        <!--BOTONES-->

                        <div class="col-12 mt-0">
                            <hr>
                            <div class="d-flex justify-content-end mb-2">
                                <button type="button" class="btn btn-outline-secondary" id="btnLimpiar">
                                    <i class="fas fa-eraser"></i> Limpiar formulario
                                </button>
                                
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save me-1"></i> Guardar
                                </button>
                            </div>
                        </div>

                    </div>



    <div layout:fragment="scripts">
      <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!--SCRIPT PARA CONSUMIR LA API-->
    <script src="/js/agregar-entrada.js"></script>
    </div>
    
  </body>
</html>
