<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Salidas - SDGDI</title>

    <!-- Fonts and Styles -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900"
      rel="stylesheet"
    />
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />
    <link
      href="vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/alerta-eliminar-salida.css" />

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  </head>

  <body id="page-top">
    <div id="wrapper" layout:fragment="content">
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Salidas</h1>
        </div>

        <p class="mb-3">
          Aquí podrás gestionar todas las salidas de manera eficiente.
        </p>

        <div id="overlay"></div>

        <!-- Alerta Confirmación -->
        <div id="alertaConfirmacion" class="card d-none">
          <button class="dismiss" type="button">×</button>
          <div class="header">
            <div class="image">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 9V13M12 17H12.01M21 12C21 16.9706 16.9706 21 12 21
                       C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3
                       C16.9706 3 21 7.02944 21 12Z"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="content">
              <span class="title">¿Eliminar insumo?</span>
              <p class="message">Esta acción no se puede deshacer.</p>
            </div>
            <div class="actions">
              <button class="track" type="button">Sí, eliminar</button>
              <button class="dismiss" type="button">Cancelar</button>
            </div>
          </div>
        </div>

        <!-- Tabla -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista De Salidas</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-bordered"
                id="dataTable"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Cantidas</th>
                    <th>Acciones</th>
                  </tr>
                </tfoot>
                <tbody id="tabla-salidas"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div layout:fragment="scripts">
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="js/sb-admin-2.min.js"></script>
      <script src="vendor/datatables/jquery.dataTables.min.js"></script>
      <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
      <script src="/js/salidas.js"></script>
      <script src="/js/eliminar-salida.js"></script>
    </div>
  </body>
</html>
